.container {
  width: 100%;
  padding: 40px;
  background: #f0f0f0;
  border: 2px solid #333;
}

.reference {
  background: #ddd;
  border: 1px solid #999;
  padding: 20px;
  margin: 10px 0;
  color: #666;
  font-weight: bold;
}

.box {
  background: #FF5722;
  color: white;
  padding: 20px;
  font-weight: bold;
  width: 150px;
  margin: 10px 0;
  position: relative;
  top: 20px;
  left: 30px;
}
